<!-- footer container -->
<footer id="footer" class="footer">
  <div class="footer-container">
    <p>&copy; <%= date(new Date(), 'YYYY') %> <a href="/" target="_blank"><%= config.author %></a></p>

    <% if (theme.hitokoto && theme.hitokoto.enable) { %>
      <p id="hitokoto"></p>
      <script src="https://v1.hitokoto.cn/?<%= theme.hitokoto.type ? 'c=' + theme.hitokoto.type + '&' : '' %>encode=js&select=%23hitokoto" defer></script>
    <% } %>

    <% if (theme.beian) { %>
      <p><a href="http://www.miitbeian.gov.cn" target="_blank"><%= theme.beian %></a></p>
    <% } %>

    <!-- <p>Powered by <a href="https://hexo.io" target="_blank">Hexo</a> Theme - <a href="https://github.com/miiiku/flex-block" target="_blank">flex-block</a></p> -->
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <div class="hiddenBox" style="display: none;">
      <span id="busuanzi_value_site_uv"></span>位道友拜访过
      <span id="busuanzi_value_site_pv"></span>次流连忘返
      <span id="busuanzi_value_page_pv"></span>次留名
      <span id="busuanzi_container_site_uv"></span>
      <span id="busuanzi_container_site_pv"></span>
      <span id="busuanzi_container_page_pv"></span>
    </div>
  </div>
</footer>