<div id="gitment" style="width:100%;"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
  let gitment = new Gitment({
    owner: 'elegantYU',
    repo: 'myGitment',
    oauth: {
      client_id: 'cfc48d7af968e63949be',
      client_secret: '1bc7c58b929910fca29f2ff83d69afb8774d76a7',
    },
  })
  gitment.render('gitment')
</script>
